*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Dela Gothic One', cursive;
  font-size: 10px;
}

.title {
  display: flex;
  justify-content: flex-end;
  width: 15%;

}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
}



nav {
  width: 35%;
}

ul {
  display: flex;
  justify-content: space-around;
  color: lightgray;
  list-style: none;
  
}


a{
  text-decoration: none;
  color: lightgray;
}

#list:hover{
  color: rgb(255, 7, 7);
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  text-align: center;
}


.list-portifolio {
 color: black;
}

.colum-img{
  margin: 4px; 
}

.section-1 {
  background-image: url("/home/vainaweb27/Documentos/Danye02/Desafio final/imagens/laranja azul recorte.png"); 
  background-repeat: no-repeat;
  background-size: cover;
  height: 85%;
  width: 100%;
}



.div-1 { 
  color: aliceblue;
  padding-top: 15%;
  font-size: 45px;
  margin-left: 10%;
  height: 100%;
  width: 65%;
  font-size: 30px;
}


h1 {
    display: flex;
    align-items: flex-end;
    height: 80%;
      
}



.div-2{
  display: flex;
  justify-content: center;
  height: 280px;
  margin-top: 80px;
  margin: 5px ;
  padding: 5px;
}


 


footer{
  display: flex;
  justify-content: center;
  height: 12vh;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 64px;
}

.colum-img-footer{
  padding: 24px  
  
}
    
  




.introducao {
  margin-bottom: 3%;
}


  
